[ ca ]
default_ca = CA_default

[ CA_default ]
dir               = /app/pki-lab
certs             = $dir/certs
crl_dir           = $dir/crl
new_certs_dir     = $dir/newcerts
database          = $dir/index.txt
serial            = $dir/serial
crlnumber         = $dir/crlnumber
certificate       = $dir/certs/rootCA.crt
private_key       = $dir/private/rootCA.key
default_md        = sha256
default_crl_days  = 30
policy            = policy_any
x509_extensions   = usr_cert
copy_extensions   = copy

[ policy_any ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ usr_cert ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, nonRepudiation
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer